body{
    background-color: darkviolet;
    font-family: verdana, geneva,tahoma,sans-serif;
    width: 80%;
    margin: auto;
}
.sectionstyle{
    width:20%;
    height: 40%;
    float: left;
    margin-left:8px;

}
.image{
    width: 20%;
    
    height: 30;
    

    
}
